.questionText{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.introduction-container{
    display:flex;
    flex-direction: row;
    height: "100%";
    align-items: center;
}

.logo-image{
    width: 10%;
    height: 10%;
    margin-block: 1rem;
}